*{
	margin:0 auto;
}
.wrapper{
	width:650px;
	background:#F2F1EF;
}
.main_content{
	width:60%;
}
.header {
	background:#4A4944;
	color:#E2D5CC;
	
	
}
.header h4{
	padding:8px;
	font-size:20px
}

.search{
	width:310px;
}
.tabs_style li a{
	color:#DE5A24;
	font-size:16px
}
.tabs_color h4{
	color:#4A4944;
	font-size:15px
}
.main_info{
	background:white;
	width:440px;
}
.editing_info{
	background:#F6F6F6;
	margin-top:20px;
	 margin-left: -16px;
    margin-top: 20px;
	width:442px;
	padding:20px;
	padding-bottom:25px
}
.nav_tabs{
	margin-bottom:15px
}
.bottom_tab{
	padding-bottom:10px
}
.button{
	text-align:center;
	margin-top:15px;
	color:#DBEAF9
}